.book
{
    font-size: 90% !important;
    box-shadow: 15px 15px 6px rgba(0, 0, 0, 0.801);
    padding-right: 0px !important;
    padding-bottom: 0px !important
}
.button-book
{
    font-size: 70% !important;
}
.title-book
{
    font-size: 2.2vw;
    font-family: 'Permanent Marker', cursive;
    background: rgb(141, 140, 140) !important;
    color: white;
    text-align: center;

}
.bookText{
    padding-left: 10px;
    padding-right: 15px;
}
