.book
{
    font-size: 90% !important;
}
.button-book
{
    font-size: 70% !important;
}
.title-book
{
    font-size: 2.2vw;
    font-family: 'Permanent Marker', cursive;
    background: rgb(141, 140, 140) !important;
    color: white;
    text-align: center;
}