.title-vs{
    font-size: 150px !important;
    padding: 7px;
    padding-top: 250px;
    text-transform: uppercase;
    background: linear-gradient(to right, rgba(223, 0, 0, 0.996) 0%, #0157ed 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Permanent Marker', cursive;
}
@media (max-width: 375px) {
    .title-vs{
       padding-top:10px !important;
       padding-left: 0px !important; 
    }
    
}
 @media (max-width: 1024px) {
    .title-vs{
        font-size: 70px !important;
        padding-left: 25px !important;
    }
 }

 @media (max-width: 768px) {
    .title-vs{
        font-size: 40px !important;
        padding-left: 50px !important;
    }
 }