#longBook {
    background-color: white;
}
.buttonBook2{
    font-size: 15px !important;
    padding-bottom: 2px !important;
}
th{
    width: 200px;
    color: white;
    padding-left: 40px !important;
}
.bonusOffered{
    color: #ffc107;
    padding-left: 5px !important;
}
thead{
    background-color:#373A3C !important;
}