.css-banner{
    h2{
        text-align: center;
        background: -webkit-linear-gradient(right,rgb(250, 233, 0), rgb(102, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Permanent Marker', cursive;;
        font-size: 800%;
    }

// ------line------

.soccer-place{
    background-image: url("http://telegramme228.com/IMG/arton4648.jpg"); 
    width: 70%; 
    height: 450px;
    margin-left: 15%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

}
@media (max-width: 375px) {
    /* CSS appliqué aux petits écrans */
    .titleMatch{
font-size: 70px !important;
    }
    .soccer-place{
        height: 200px !important;
        width: 300px !important;
        margin: 8px !important;
    }
    
 }

 .box {
   position: relative;
 }
 .box .img-ballon-bet {
   width: 60px;
   height: 60px;
   position: absolute;
   -webkit-animation: XXX 3.05s linear 0s infinite alternate, YYY 3.4s linear 0s infinite alternate;
   -moz-animation: XXX 3.05s linear 0s infinite alternate, YYY 3.4s linear 0s infinite alternate;
   -o-animation: XXX 3.05s linear 0s infinite alternate, YYY 3.4s linear 0s infinite alternate;
   animation:pulses 5000s  infinite, XXX 3.05s linear 0s infinite alternate, YYY 3.4s linear 0s infinite alternate;

   @-webkit-keyframes XXX {
    from { left: 0; } to { left: 90%; }
  }
  @-moz-keyframes XXX {
    from { left: 0; } to { left: 90%; }
  }
  @-o-keyframes XXX {
    from { left: 0; } to { left: 90%; }
  }
  @keyframes XXX {
    from { left: 0; } to { left: 90%; }
  }
  @-webkit-keyframes YYY {
    from { top: 0; } to { top: 90%; }
  }
  @-moz-keyframes YYY {
    from { top: 0; } to { top: 90%; }
  }
  @-o-keyframes YYY {
    from { top: 0; } to { top: 90%; }
  }
  @keyframes YYY {
    from { top: 0; } to { top: 90%; }
  }

 }
 
