.css-banner{
    h2{
        color: white;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    }

// ------line------

.soccer-place{
    background-image: url("http://telegramme228.com/IMG/arton4648.jpg"); 
    width: 70%; 
    height: 450px;
    margin-left: 15%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

}
