.css-banner{
    h2{
        text-align: center;
        background: -webkit-linear-gradient(right,rgb(250, 233, 0), rgb(102, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Permanent Marker', cursive;;
        font-size: 800%;
    }

// ------line------

.soccer-place{
    background-image: url("http://telegramme228.com/IMG/arton4648.jpg"); 
    width: 70%; 
    height: 450px;
    margin-left: 15%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

}
@media (max-width: 375px) {
    /* CSS appliqué aux petits écrans */
    .titleMatch{
font-size: 70px !important;
    }
    .soccer-place{
        height: 200px !important;
        width: 300px !important;
        margin: 8px !important;
    }
    
 }
