.lolo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .lolo {
        text-align: center;
        font-weight: 500;
        color: white;
        font-size: 100px;
        display: inline-flex;
        margin-top: 10%;
        background: -webkit-linear-gradient(rgb(250, 233, 0), rgb(102, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        img {
            margin-top: 75px;
            margin-right: 20px;
            margin-left: 20px;
            animation: pulses 5s  infinite;
        }
    }
}
.inputform{
    label{
        color: white;
        font-size: 30px;
    }

.padding-input{
    padding-bottom: 10%;
}

.lolo{
    font-family: 'Permanent Marker', cursive;;
}

.App {
    max-width: 420px;
    margin: 0 auto;
}
    input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgba(0, 0, 0, 0.507);
    color: rgb(255, 255, 255);
    padding: 12px 20px;   border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    animation: pulse 2s  infinite;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@keyframes pulse {
    0% {
        transform: rotateY(0deg);
    background-color: rgba(0, 0, 0, 0.568);
    }
    50% {
        transform: rotateY(60deg);
        background-color: rgba(0, 255, 0, 0.445);
        }
    100% {
        transform: rotateY(0deg);
    background-color: rgba(12, 12, 12, 0.527);
    }
}

@keyframes pulses {
    from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    }


}





