.lolo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .lolo {
        text-align: center;
        font-weight: 500;
        color: white;
        font-size: 100px;
        display: inline-flex;
        margin-top: 10%;
        background: -webkit-linear-gradient(rgb(250, 233, 0), rgb(102, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
img {
margin-top: 75px;
margin-right: 20px;
margin-left: 20px;
animation: pulses 5s  infinite;
animation-direction: alternate;
}
    }
}
.inputform{
    label{
        color: white;
        font-size: 30px;
    }

.padding-input{
    padding-bottom: 10%;
}


.App {
    max-width: 420px;
    margin: 0 auto;
}
    input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgba(0, 0, 0, 0.507);
    color: rgb(255, 255, 255);
    padding: 12px 20px;   border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 15px 15px 6px rgba(0, 0, 0, 0.801);
    
}
input[type=submit]:hover {
    animation: pulse 2s  infinite;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@keyframes pulse {
    0% {
        transform: rotateY(0deg);
    background-color: rgba(0, 0, 0, 0.568);
    }
    50% {
        transform: rotateY(60deg);
        background-color: rgba(0, 255, 0, 0.445);
        }
    100% {
        transform: rotateY(0deg);
    background-color: rgba(12, 12, 12, 0.527);
    }
}

@keyframes pulses {
    from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(999990deg);
        }
        
    }


}



#fname, #lname, #email, #subject{
    box-shadow: 15px 15px 6px rgba(0, 0, 0, 0.801);
}

.shadow-text{
    text-shadow: 5px 5px rgba(0, 0, 0, 0.815);
}

.lolo{
    font-family: 'Permanent Marker', cursive !important;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.932);
}

.img-ballon {
  position: absolute;
  -webkit-animation: moveX 10s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 10s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 10s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: pulses 000s infinite, moveX 10s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;

}

@-webkit-keyframes moveX {
  from { left: 0%; } to { left: 100%; }
}
@-moz-keyframes moveX {
  from { left: 0%; } to { left: 100%; }
}
@-o-keyframes moveX {
  from { left: 0%; } to { left: 100%; }
}
@keyframes moveX {
  from { left: 0%; } to { left: 100%; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@keyframes moveY {
  from { top: 0; } to { top: 100%; }
}

.img-ballon2{
    position: absolute;
    -webkit-animation: moveX 6.05s linear 0s infinite alternate, moveY 6.4s linear 0s infinite alternate;
    -moz-animation: moveX 6.05s linear 0s infinite alternate, moveY 6.4s linear 0s infinite alternate;
    -o-animation: moveX 6.05s linear 0s infinite alternate, moveY 6.4s linear 0s infinite alternate;
    animation: pulses 000s infinite, moveX 6.05s linear 0s infinite alternate, moveY 6.4s linear 0s infinite alternate;
  }
  
  @-webkit-keyframes moveX {
    from { left: 0%; } to { left: 100%; }
  }
  @-moz-keyframes moveX {
    from { left: 0%; } to { left: 100%; }
  }
  @-o-keyframes moveX {
    from { left: 0%; } to { left: 100%; }
  }
  @keyframes moveX {
    from { left: 0%; } to { left: 100%; }
  }
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: 100%; }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: 100%; }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: 100%; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 100%; }
  }

  .img-ballon3{
    position: absolute;
    -webkit-animation: moveX 3.55s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -moz-animation: moveX 3.55s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -o-animation: moveX 3.55s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    animation: pulses 000s infinite, moveX 3.55s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  }
  
  @-webkit-keyframes moveX {
    from { left: 0%; } to { left: 100%; }
  }
  @-moz-keyframes moveX {
    from { left: 0%; } to { left: 100%; }
  }
  @-o-keyframes moveX {
    from { left: 0%; } to { left: 100%; }
  }
  @keyframes moveX {
    from { left: 0%; } to { left: 100%; }
  }
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: 100%; }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: 100%; }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: 100%; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 100%; }
  }
