.footer-container{
    background-color: rgb(0, 0, 0);
    
    color: white;
}
.fa-twitter{
	color: #4286f4;
	background-color: #373A3C;
}
.fa-facebook{
	color: #1c3d72;
	background-color: #373A3C;
}