.footer-container{
	background-image: url("https://images.wallpaperscraft.com/image/texture_tree_black_blue_soft_divorce_55263_1280x720.jpg");
	background-repeat: no-repeat;
	background-size: cover	;
    color: white;
}

.text-size-footer{
	text-align: center;
	i{
		text-align: center;
		margin-top: 30px;
	}
	p{
	font-size: 30%;
	font-weight: normal;
	text-align: justify-all;
	margin-top: 10px;
}
.fa-address-book:hover{
	background: -webkit-linear-gradient(rgb(250, 233, 0), rgb(102, 255, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-balance-scale:hover{
	background: -webkit-linear-gradient(rgb(250, 233, 0), rgb(102, 255, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-apple:hover{
	background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 255, 255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-google-play:hover{
	background: -webkit-linear-gradient(rgb(123, 255, 0), rgb(0, 225, 255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-facebook-square:hover{
	background: -webkit-linear-gradient(rgb(0, 162, 255), rgb(4, 92, 255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-twitter:hover{
	background: -webkit-linear-gradient(rgb(1, 253, 220), rgb(255, 251, 251));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-newspaper:hover{
	background: -webkit-linear-gradient(rgb(250, 233, 0), rgb(102, 255, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-futbol:hover{
	background: -webkit-linear-gradient(rgb(250, 233, 0), rgb(102, 255, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-cc-paypal:hover{
	background: -webkit-linear-gradient(left,rgb(0, 81, 255), rgb(0, 255, 255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-credit-card:hover{
	background: -webkit-linear-gradient(left,rgb(0, 81, 255), rgb(0, 255, 255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-react:hover{
	background: -webkit-linear-gradient(left,rgb(0, 217, 255), rgb(129, 164, 168));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.fa-trophy:hover{
	background: -webkit-linear-gradient(rgb(252, 214, 0), rgb(206, 93, 1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-transform: scale(1.3);
	transform: scale(1.3);

}
}
