.style-carousel {
    p {
        font-size: 40px;
        background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 2px 2px rgb(255, 255, 255);
        font-family: 'Baloo Chettan', cursive;
    }
    h3 {
        font-size: 72px !important;
        background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(94, 94, 94));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.822);
        font-family: 'Lobster', cursive;
        padding-bottom: 5%;
    }
}