.border-div{
  margin-top: 20px;
  div{;
    
  }
}
.width-bar{
  box-shadow: 15px 15px 6px rgba(0, 0, 0, 0.801);
}
.text-size-describe{
font-size: 15px ;
font-family: 'Permanent Marker', cursive;
color: rgb(0, 0, 0);
}
.text-progress{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
}
.bg-progress{
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 30px;
    padding-bottom: 60px;
    margin-right: 0%;
    box-shadow: 15px 15px 6px rgba(0, 0, 0, 0.801);

}
.App-logo {
    animation: App-logo-spin infinite 5s linear;
    pointer-events: none;
}

.width-bar{
  width: 70%;
  margin-left: 13%;
}

@keyframes App-logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }