.btn-nav{
    margin: 0 10px;
}

.title-nav{
    display: inline-block !important;
}

.modal-navbar{
    background-image: url("https://images.wallpaperscraft.com/image/line_background_black_bending_69478_1280x720.jpg");
}

.margin-button{
    button{
        position: relative;
        right: 10%;
    }
}

@media screen and (max-width: 765px) {
    .button-login {
        position: relative;
        left: 0%;
        margin-bottom: 10px;
    }
}

#ballon {
    width:150px;
    height:80px;
    z-index:5;
    position:absolute;
    top: -10px;
    left:10px;
    animation: logo 5s ease-in-out infinite alternate;
    -webkit-animation: logo 5s ease-in-out infinite alternate;
}

@keyframe logo {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
        -webkit-transform: scale(2.0);
    }
}