#table-1{
background-color: rgba(240, 232, 232, 0.966);
-moz-border-radius: 10px;
border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
}

#table-2{
    background-color: #e8e8e8;
}

#table-3{
    background-color: #e8e8e8;
}

.title-table{
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.288);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Permanent Marker', cursive;;
}

.direct{
    color: red;
}

.finish{
    color: green;
}

.bold{
    font-weight: bold;
}
.toMarge-2{
    width:20%;
}
.toMarge-3{
    width:25%;
}
.toMarge-1{
    width:10%;
}
